<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Shop</title>
    <link rel="stylesheet" href="stlye.css">
  </head>
  <body>
    <nav>
      <a href="/">Home page</a>
      <a href="/books">Books page</a>
      <a href="/authors">Authors</a>
      <a href="/stock">Stock</a>
    </nav>
    <%= yield %>
  </body>
</html>
