<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Shop</title>
  </head>
  <body>
    <nav>
      <a href="/books">Books page</a>
    </nav>
    <%= yield %>
  </body>
</html>
