<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Shop</title>
    <link rel="stylesheet" href="../../stlye.css">
  </head>
  <body>
    <nav class='navbar'>
      <div class="nav_item">
        <a href="/">Home page</a>
      </div>
      <div class="nav_item">
        <a href="/books">Books page</a>
      </div>
      <div class="nav_item">
        <a href="/authors">Authors</a>
      </div>
      <div class="nav_item">
        <a href="/stock">Stock</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
