<h1>new stock item page</h1>

<form class="" action="/stock" method="post">
  <label for="">Book</label>
  <select required class="" name="book_id">
    <% for book in @books %>
      <% if @book_ids.include?(book.id.to_s) == false %>
        <option value="<%= book.id %>"><%= book.title %></option>
      <% end %>
    <% end %>
  </select>

  <label for="">Quantity</label>
  <input required type="number" min="0" name="quantity" value="">

  <label for="">Buying Cost</label>
  <input required type="number" min="0" step='0.25' name="buying_cost" value="">

  <label for="">Selling Price</label>
  <input required type="number" min="0" step='0.25' name="selling_price" value="">

  <input required type="submit" value="Create Book">
</form>
